<article>
    <h2>
        <a href="{{ current_page.url }}">{{ current_page.title }}</a>
    </h2>
    {#
    <aside class="meta">
        {% if meta.author is not empty %}
            by {{ meta.author }}
            {% set previous = true %}
        {% endif %}
        {% if meta.date is not empty %}
            {% if previous %}
                –
                {% set previous = false %}
            {% endif %}
            {{ meta.date }}
            {% set previous = true %}
        {% endif %}
    </aside>
    #}
    <div>
        {{ content }}
    </div>
</article>
